

/* src/app.css */
@import "tailwindcss";

:root {
  font-family: 'Basis Grotesque Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #111827;
  background-color: #ffffff;
}

body {
  font-family: 'Basis Grotesque Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* ========================================
   BASIS GROTESQUE WEB FONT
   ======================================== */

@font-face {
  font-family: 'Basis Grotesque Web';
  src: url('/fonts/BasisGrotesqueArabicPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}





/* ========================================
   UTILITY CLASS - APPLY ONLY WHERE USED
   ======================================== */

.font-basis-web {
  font-family: 'Basis Grotesque Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}




/* Medium - 500 */
@font-face {
  font-family: 'Basis Grotesque Web';
  src: url('/fonts/BasisGrotesqueArabicPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SemiBold - 600 */
@font-face {
  font-family: 'Basis Grotesque Web';
  src: url('/fonts/BasisGrotesqueArabicPro-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold - 700 */
@font-face {
  font-family: 'Basis Grotesque Web';
  src: url('/fonts/BasisGrotesqueArabicPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



/* animation  */

/* =========================================
   PAGE TRANSITION
========================================= */
/* =========================================
   ROUTE TRANSITION
========================================= */

.route-transition {
  width: 100%;
  min-height: 100vh;
}


/* =========================================
   HOME -> ABOUT / WORK / NEWS / CONTACT

   New page comes from BOTTOM
   Bottom -> Top
========================================= */

.route-home-to-page {
  animation: homeToPage 0.8s cubic-bezier(0.77, 0, 0.175, 1) both;
}

@keyframes homeToPage {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0);
  }
}


/* =========================================
   ABOUT / WORK / NEWS / CONTACT -> HOME

   Home comes from TOP
   Top -> Bottom
========================================= */

.route-page-to-home {
  animation: pageToHome 0.8s cubic-bezier(0.77, 0, 0.175, 1) both;
}

@keyframes pageToHome {
  from {
    transform: translateY(-100vh);
  }

  to {
    transform: translateY(0);
  }
}


/* =========================================
   OTHER PAGE -> OTHER PAGE

   NO ANIMATION
========================================= */

.route-no-animation {
  transform: translateY(0);
}